@page "/"
@rendermode InteractiveServer

<PageTitle>Shavdle</PageTitle>

<h1 class="center-title">Shavdle | 𐑖𐑱𐑝𐑛𐑩𐑤</h1>
<div id="home-columns" class="home-columns">
    <div id="about">
        <h3 class="about-shavdle">About Shavdle</h3>
        <p>
            This game is like other daily English word guessing games, but uses an alternative english alphabet known as the Shavian alphabet.
            The latin alphabet is somewhat flawed when it comes to english, as it doesn't contain letters that reflect all of the different sounds that people use to speak English.
            The Shavian alphabet was designed to better reflect the complex language that is English.
            In Shavian there is a letter for ever phonetic sound used in the English language, eliminating pesky confusing things like silent letters, double letters, and words that are spelled nothing like how they sound (looking at you "cough").
            This results in 2 things: 1. words written with Shavian are often shorter, so in this game there's only 4 letters to guess.
            2. There's a lot more letters than in the latin alphabet, so you get 7 attempts to narrow it down.
            𐑜𐑫𐑛 𐑤𐑳𐑒! (Good luck!)
        </p>
        <a href="https://shavian.info/alphabet/">Learn what the letters are over on shavian.info!</a>
    </div>
    <div class="centre" id="puzzle-area">
        <AnswerGrid />
        <LetterGrid />
        <Keyboard />
    </div>
</div>
