<div class="answer-grid">
    <p class="inputLetter">@firstChar</p>
    <p class="inputLetter">@secondChar</p>
    <p class="inputLetter">@thirdChar</p>
    <p class="inputLetter">@fourthChar</p>
    <button class="submitButton">↵</button>

</div>

@code {
    string firstChar = "1"; // all of these will be string.Empty later but now for testing purposes will be prefilled
    string secondChar = "2";
    string thirdChar = "3";
    string fourthChar = "4";
    string completedWord = string.Empty;
}
