@rendermode InteractiveServer

<div class="answer-grid">
    <p class="inputLetter">@FirstChar</p>
    <p class="inputLetter">@SecondChar</p>
    <p class="inputLetter">@ThirdChar</p>
    <p class="inputLetter">@FourthChar</p>
    <button class="submitButton">↵</button>

</div>

@code {
    [Parameter]
    public string FirstChar
    { 
        get { return field; } 
        set 
        {
            field = value;
            StateHasChanged(); 
        } 
    } = "";
    [Parameter]
    public string SecondChar 
    { 
        get { return field; } 
        set 
        {
            field = value;
            StateHasChanged(); 
        } 
    } = "";
    [Parameter]
    public string ThirdChar 
    { 
        get { return field; } 
        set 
        {
            field = value;
            StateHasChanged(); 
        } 
    } = "";
    [Parameter]
    public string FourthChar 
    {
        get { return field; } 
        set 
        {
            field = value;
            StateHasChanged(); 
        } 
    } = "";

    string completedWord = string.Empty;
}
