@rendermode InteractiveServer

<div>
    <div class="keyboard-row" id="tall">
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑐")'>𐑐</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑑")'>𐑑</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑒")'>𐑒</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑓")'>𐑓</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑔")'>𐑔</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑕")'>𐑕</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑖")'>𐑖</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑗")'>𐑗</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑘")'>𐑘</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑙")'>𐑙</button>
    </div>
    <div class="keyboard-row" id="deep">
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑚")'>𐑚</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑛")'>𐑛</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑜")'>𐑜</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑝")'>𐑝</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑞")'>𐑞</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑟")'>𐑟</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑠")'>𐑠</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑡")'>𐑡</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑢")'>𐑢</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑣")'>𐑣</button>
    </div>
    <div class="keyboard-row" id="short1">
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑤")'>𐑤</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑥")'>𐑥</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑦")'>𐑦</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑧")'>𐑧</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑨")'>𐑨</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑩")'>𐑩</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑪")'>𐑪</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑫")'>𐑫</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("‹")'>‹</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑭")'>𐑭</button>
    </div>
    <div class="keyboard-row" id="short2">
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑮")'>𐑮</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑯")'>𐑯</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑰")'>𐑰</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑱")'>𐑱</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑲")'>𐑲</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑳")'>𐑳</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑴")'>𐑴</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑵")'>𐑵</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("›")'>›</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑷")'>𐑷</button>
    </div>
    <div class="keyboard-row" id="compound">
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑸")'>𐑸</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑹")'>𐑹</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑺")'>𐑺</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑻")'>𐑻</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑼")'>𐑼</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑽")'>𐑽</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑾")'>𐑾</button>
        <button class="keyboard-key" @onclick='() => ShavianKeyClick("𐑿")'>𐑿</button>
        <button class="keyboard-key" style="width: 85px;" @onclick="() => Backspace()">⬅️</button>
    </div>

</div>

@code {
    [Parameter]
    public EventCallback<string> KeyClickedCallBack { get; set; }
    [Parameter]
    public EventCallback BackspaceCallBack { get; set; }

    void ShavianKeyClick(string key)
    {
        KeyClickedCallBack.InvokeAsync(key);
    }
    void Backspace()
    {
        BackspaceCallBack.InvokeAsync();
    }
}
