<div>
    <div class="keyboard-row" id="tall">
        <button class="keyboard-key">𐑐</button>
        <button class="keyboard-key">𐑑</button>
        <button class="keyboard-key">𐑒</button>
        <button class="keyboard-key">𐑓</button>
        <button class="keyboard-key">𐑔</button>
        <button class="keyboard-key">𐑕</button>
        <button class="keyboard-key">𐑖</button>
        <button class="keyboard-key">𐑗</button>
        <button class="keyboard-key">𐑘</button>
        <button class="keyboard-key">𐑙</button>
    </div>
    <div class="keyboard-row" id="deep">
        <button class="keyboard-key">𐑚</button>
        <button class="keyboard-key">𐑛</button>
        <button class="keyboard-key">𐑜</button>
        <button class="keyboard-key">𐑝</button>
        <button class="keyboard-key">𐑞</button>
        <button class="keyboard-key">𐑟</button>
        <button class="keyboard-key">𐑠</button>
        <button class="keyboard-key">𐑡</button>
        <button class="keyboard-key">𐑢</button>
        <button class="keyboard-key">𐑣</button>
    </div>
    <div class="keyboard-row" id="short1">
        <button class="keyboard-key">𐑤</button>
        <button class="keyboard-key">𐑥</button>
        <button class="keyboard-key">𐑦</button>
        <button class="keyboard-key">𐑧</button>
        <button class="keyboard-key">𐑨</button>
        <button class="keyboard-key">𐑩</button>
        <button class="keyboard-key">𐑪</button>
        <button class="keyboard-key">𐑫</button>
        <button class="keyboard-key">‹</button>
        <button class="keyboard-key">𐑭</button>
    </div>
    <div class="keyboard-row" id="short2">
        <button class="keyboard-key">𐑮</button>
        <button class="keyboard-key">𐑯</button>
        <button class="keyboard-key">𐑰</button>
        <button class="keyboard-key">𐑱</button>
        <button class="keyboard-key">𐑲</button>
        <button class="keyboard-key">𐑳</button>
        <button class="keyboard-key">𐑴</button>
        <button class="keyboard-key">𐑵</button>
        <button class="keyboard-key">›</button>
        <button class="keyboard-key">𐑷</button>
    </div>
    <div class="keyboard-row" id="compound">
        <button class="keyboard-key">𐑸</button>
        <button class="keyboard-key">𐑹</button>
        <button class="keyboard-key">𐑺</button>
        <button class="keyboard-key">𐑻</button>
        <button class="keyboard-key">𐑼</button>
        <button class="keyboard-key">𐑽</button>
        <button class="keyboard-key">𐑾</button>
        <button class="keyboard-key">𐑿</button>
    </div>

</div>

@code {

}
